.red_star {color: #D32929; padding-left: 1px;}
.toast {opacity: 1 !important; font-size: 14px;}
.toast-close-button i.fa-times {text-shadow: 0 1px 0 #000; font-size: 12px;}
#btn-processing {display: inline-block !important;}
.float-left{float: left;}
.float-right{float: right;}
.position_relative{position: relative;}
.upload_image_position_absolute{position: absolute; left: 0; top: 0; background-color: #ffffff;}
.upload_image_delete_position_absolute{position: absolute; right: 5px; top: 5px; cursor: pointer; color: #ff0000;}
.text-white{color: #ffffff;}
.pointer-none{pointer-events: none;}



/*******************
Preloader
********************/
.preloader {width: 100%; height: 100%; top: 0px; position: fixed; z-index: 99999; background: #fff; opacity: 0.8;}  
.lds-ripple {display: inline-block; position: relative; width: 64px; height: 64px; position: absolute; top: calc(50% - 3.5px); left: calc(47% - 3.5px); }
.lds-ripple .lds-pos {position: absolute; border: 2px solid #ff3e1d; opacity: 1; border-radius: 50%; animation: lds-ripple 1s cubic-bezier(0, 0.1, 0.5, 1) infinite; }
.lds-ripple .lds-pos:nth-child(2) {animation-delay: -0.5s; }  
@keyframes lds-ripple {
0% {
	top: 28px;
	left: 28px;
	width: 0;
	height: 0;
	opacity: 0; }
5% {
	top: 28px;
	left: 28px;
	width: 0;
	height: 0;
	opacity: 1; }
100% {
	top: -1px;
	left: -1px;
	width: 58px;
	height: 58px;
	opacity: 0; }
}

@media only screen and (max-width: 1300px) {
 	 .notfound-404 h1 {font-size: 130px;}
}
@media only screen and (max-width: 767px) {
  	.notfound-404 h1 {font-size: 100px;}
}
@media only screen and (max-width: 592px) {
  	.notfound-404 h1 {font-size: 70px;}
}